{% extends "article.html" %}


{% block article_content %}


<h2>קרון רכבת בריטי משוחזר</h2>

<p>

    קרון בריטי משוחזר משנת 1937, מאפשר אירוח בצימר רומנטי וייחודי לזוגות. בחדר מיטה זוגית +מיטת יחיד מטבח קטן (קפה ותה עלינו) ומזגן. הקרון משרה אווירה מיוחדת ונעימה על השוהים בו ומחוצה לו מצויה "זולה" בצל הגפן. מקלחות משותפות ואינטרנט חינם. האירוח כולל ארוחת בוקר.
</p>

{% set gallery = 'train_wagon' %}
{% set num_of_images = 6 %}
{% include 'includes/gallery.html' %}


<h2>דירת סטודיו</h2>

<p>
    צימר למשפחה, ובו שתי מיטות זוגיות ומיטת יחיד, מזגן, מקלחת, שירותים צמודים ומטבחון. החדר מתאים לאירוח משפחות וחברים. פינת ישיבה בחצר הסטודיו בצל הזית להנאתכם. אינטרנט חינם. האירוח כולל ארוחת בוקר.
</p>

{% set gallery = 'studio' %}
{% set num_of_images = 6 %}
{% include 'includes/gallery.html' %}


<h2>אוהל טיפי</h2>

<p>
    הטיפי מתאים לזוג או אורח יחיד. באוהל מיטה זוגית קטנה וחימום על חשמל. מקלחות משותפות ואינטרנט חינם. פינת ישיבה בצל החרוב.
</p>

{% set gallery = 'tipi_tent' %}
{% set num_of_images = 3 %}
{% include 'includes/gallery.html' %}


<h2>קמפינג</h2>

<p>
    ניתן להקים אוהל בשטח ולהנות מהמתקנים במתחם
</p>


<h2>מחירון</h2>

<ul>
    <li>קרון: ₪350 לזוג + ₪125 לאורח אחד נוסף. המחיר כולל ארוחת בוקר.</li>
    <li>סטודיו: ₪350 לזוג + ₪125 לכל אורח נוסף עד 5 אורחים. המחיר כולל ארוחת בוקר.</li>
    <li>טיפי: ₪125 לאדם, ₪210 לזוג.</li>
</ul>

<p>
    * המחירים כוללים מע"מ.
</p>

{% endblock %}
