{% extends "base.html" %}


{% block content %}

    <article id="main">
        <header class="special container">
            <span class="icon"></span>
            <h2>{{ article.title }}</strong></h2>
        </header>

        <section class="wrapper style4 container">

            <!-- Content -->
            <div class="content">
                <section>
                    {% block article_content %}
                        {% if article.image %}
                            <div class="image featured">
                                <img src="{{ article.image }}" alt="{{ article.title }}" />
                            </div>
                        {% endif %}
                        {{ article.content }}
                    {% endblock %}
                </section>
            </div>

            {% if article.gallery %}
                {% set gallery = article.gallery %}
                {% set num_of_images = article.num_of_images|int %}
                {% include 'includes/gallery.html' %}
            {% endif %}

	    <a class="button whatsapp" href="https://api.whatsapp.com/send?phone=972526941188&text=פנייה_מהאתר">פנה ליזהר ב- WhatsApp</a>
	    <a class="button whatsapp" href="https://api.whatsapp.com/send?phone=972526941141&text=פנייה_מהאתר">פנה אירית ב- WhatsApp</a>

        </section>
    </article>

{% endblock %}
