<header class="special container">
    <span class="icon shevet"></span>
    <h2>
        <strong>שבט אחים</strong> הינו מתחם אירוח הממוקם בכפר הבדואי חילף-טבאש שבגליל התחתון
        <br >בו תוכלו ליהנות מחוויה מיוחדת באווירה פסטורלית
        <br >המשלבת כפר וטבע בפרטיות ונוחות מושלמת.
    </h2>
    <p>
        <strong>בשבט אחים</strong> אנו מציעים מגוון אפשרויות אירוח לאירועים, סדנאות ולינה לקבוצות משפחות וליחידים, ניתן להזמין ארוחות לסדנאות ואירועים. מהשבט ניתן לצאת למסלולי טיול רגליים או באופנים ורכב לשמורות הטבע שמסביבנו.
    </p>
</header>
