<section id="banner">

    <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
    -->
    <div class="inner">

    <a class="image featured">
        <img src="theme/images/logo-white.png" />
    </a>
    <header>
        <h2>שבט אחים</h2>
    </header>
    <p>מתחם אירוח לקבוצות ויחידים<br > אירועים וסדנאות</p>
    <footer>
        <ul class="buttons stacked">
        <li><a href="#main" class="button fit scrolly">רוצה לשמוע עוד?</a></li>
        </ul>
    </footer>

    </div>

</section>
