<section id="banner">

    <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
    -->
    <div class="inner">

    <a class="image featured">
        <img src="theme/images/logo-white.png" />
    </a>
    <header>
        <h1>שבט אחים</h1>
    </header>
    <h1>מתחם אירוח לקבוצות ויחידים<br > אירועים וסדנאות</h1>
    <footer>
    </footer>

    </div>

</section>
