<section class="wrapper style3 container">

    <header class="major">
    <h3>עקב המצב שבט אחים סגור לאירועים ואירוח</h3>
    <h2>אבל החדרים שלנו פנויים להשכרה</h2>
    </header>

    <h3>חדר הסטודיו</h3>

    <p>
        בחדר שתי מיטות זוגיות ומיטת יחיד, מזגן, מקלחת, שירותים צמודים ומטבחון. החדר מתאים לאירוח משפחות וחברים. פינת ישיבה בחצר הסטודיו בצל הזית להנאתכם. מחיר: 3,500 לחודש או 2,000 לשבועיים. המחיר כולל חשבונות (חשמל, מים ואיטרנט).
    </p>

    {% from 'macros/gallery.html' import gallery %}
    {{ gallery('studio', 6) }}

    <h3>קרון הרכבת הבריטי</h3>

    <p>
        קרון בריטי משוחזר משנת 1937, מאפשר אירוח בצימר ייחודי לזוגות. בחדר מיטה זוגית + מיטת יחיד, מטבחון ומזגן. הקרון משרה אווירה מיוחדת ונעימה על השוהים בו ומחוצה לו מצויה "זולה" בצל הגפן. המקלחות מחוץ לחדר, במרחק מטרים בודדים. מחיר: 3,000 לחודש או 1,800 לשבועיים. המחיר כולל חשבונות (חשמל, מים ואינטרנט).
    </p>

    {{ gallery('train_wagon', 6) }}

    <h3>החאן</h3>

    <p>
        מידע על החאן אפשר למצוא <a href="https://shevet-ahim.co.il/groups.html">כאן</a>. אנא פנו אלינו להצעת מחיר.
    </p>

    {{ gallery('groups', 6) }}

</section>
