<section class="wrapper style2 container special-alt">
  <header class="major">
    <h2>עלינו בתקשורת</h2>
  </header>

  <div class="row gtr-50">
    <div class="col-5 col-12-narrower">
        <header>
            <h3>"אני לא מחליף את המקום הזה בשום מקום אחר בארץ"</h3>
        </header>
        <p>
          <a href="https://www.themarker.com/realestate/.premium-MAGAZINE-1.9914524" target="_blank">יזהר מספר ל- TheMarker על החיים בכפר.</a>
        </p>
    </div>

    <div class="col-7 col-12-narrower">
      <div class="image fit">
        <img src="/images/stories/TheMarker2021.webp" alt="יזהר: לא מחליף את המקום הזה בשום מקום אחר בארץ" />
      </div>
    </div>
  </div>

  <hr>

  <div class="row gtr-50">
    <div class="col-5 col-12-narrower">
      <header>
          <h3>מסע בין כפרי הבדואים בגליל מוכיח שיהודים וערבים מסתדרים נהדר ביחד</h3>
      </header>
      <p>
        <a href="https://www.ynet.co.il/vacation/israeltrips/article/Skrn9gyhO" target="_blank">שבט אחים בכתבה על דו-קיום בכפרים הבדואים.</a>
      </p>
    </div>

    <div class="col-7 col-12-narrower">
      <div class="image fit">
        <img src="/images/stories/ynet2021.jpg" alt="דו-קיום בגליל (צילום: shutterstock)" />
      </div>
    </div>
  </div>

  <hr>

  <div class="row gtr-50">
      <div class="col-5 col-12-narrower">
          <header>
              <h3>מה עושים בפסח?</h3>
          </header>
          <p>
              דיוויד עזרן ממליץ על סיור ואירוח בשבט אחים. עוד בכתבה של פותחים יום.
          </p>
      </div>

      <div class="col-7 col-12-narrower">
          <div class="video-wrapper">
              <iframe src="https://www.youtube.com/embed/eN0OoFKv_PY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <hr>

  <div class="row gtr-50">
      <div class="col-5 col-12-narrower">
          <header>
              <h3>חופשה בסגר בשבט אחים</h3>
          </header>
          <p>

              כתבה בלפני החדשות, ערוץ 13, על מקומות אירוח בטוחים לזמן הסגר באוקטובר 2020. יזהר מציג את הקרון ומזמין ישראלים להתארח בתנאים נקיים ובטוחים בזמן הסגר.
          </p>
      </div>

      <div class="col-7 col-12-narrower">
          <div class="video-wrapper">
              <iframe src="https://www.youtube.com/embed/dyJilHPNw5k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <hr>

  <header>
      <h3>זיו ריינשטיין מפרגן</h3>
  </header>
  <div>
      זיו ריינשטיין, כתב ואללה תיירות, יצא לטיול בעמק יזרעאל ולן אצלינו בשבט אחים. מספר על הכפר ומחמיא לקרון הבריטי בחצר. הכתבה המלאה <a href="https://travel.walla.co.il/item/3337384">כאן</a>.
  </div>

  <hr>

  <header>
    <h3>שבט אחים מומלץ מסע אחר</h3>
  </header>
  <div>
    למקרה שהתלבטתם באיזה חאן לישון בטיול משפחות הבא שלכם, מסע אחר יצאו בסקירת המובחרים בשבילכם. כמובן ששבט אחים ברשימה! <a href="https://www.masa.co.il/article/%d7%a7%d7%a8%d7%95%d7%91-%d7%9c%d7%98%d7%91%d7%a2-%d7%94%d7%90%d7%95%d7%a8%d7%97%d7%a0%d7%99%d7%9d-%d7%94%d7%9b%d7%99-%d7%98%d7%95%d7%91%d7%99%d7%9d-%d7%91%d7%90%d7%a8%d7%a5/">הכתבה המלאה מאפריל 2019 כאן</a>.
  </div>

  <hr>

  <div class="row gtr-50">
    <div class="col-5 col-12-narrower">
      <header>
        <h3>שבט אחים בחדשות השבוע</h3>
      </header>
      אירוח בסגנון אחר. להתחבר לטבע ולשקט בלי לקרוע את הכיס בשבט אחים, חץ בשקט ומקומות אירוח אלטרנטיביים נוספים. הכתבה שודרה ב- 4.8.2017 במהדורה המרכזית של חדשות השבוע.
    </div>

    <div class="col-7 col-12-narrower">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/CHclLYBfPz0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
