<section class="wrapper style2 container special-alt">
    <div class="row gtr-50">
    <div class="col-4 col-12-narrower">

        <header>
            <h2>שבט אחים בחדשות השבוע</h2>
        </header>
        <p>
            אירוח בסגנון אחר. להתחבר לטבע ולשקט בלי לקרוע את הכיס בשבט אחים, חץ בשקט ומקומות אירוח אלטרנטיביים נוספים. הכתבה שודרה ב- 4.8.2017 במהדורה המרכזית של חדשות השבוע.
        </p>

    </div>

    <div class="col-1 col-12-narrower">
    </div>

    <div class="col-7 col-12-narrower">

        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/CHclLYBfPz0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

    </div>
    </div>
</section>
