<header id="header" class="{% if output_file == 'index.html' %}alt{% endif %}">
    <nav id="nav">
    <ul>
        <li><a href="index.html">עמוד הבית</a></li>
        <li><a href="about.html">עלינו</a></li>
        <li><a href="contact.html">צור קשר</a></li>
        <li><a href="http://www.galilee-bedouin-camplodge.com">English</a></li>
        <li><a href="https://www.facebook.com/ShevetAhim/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/galilee_bedouin_camplodge/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>

    </ul>
    </nav>
</header>
