<title>מתחם אירוח לקבוצות יחידים אירועים וסדנאות - שבט אחים</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="אכסניה / חאן אירוח לקבוצות ויחידים במגוון אפשרויות לינה. פעילויות יום סדנאות ואירועים לקבוצות ומשפחות בעמק יזרעאל / גליל תחתון / גליל מערבי"/>
<link rel="stylesheet" href="theme/css/main.css" />
<link rel="stylesheet" href="theme/css/jquery.fancybox.min.css" />
<noscript><link rel="stylesheet" href="theme/css/noscript.css" /></noscript>
<link rel="shortcut icon" type="image/png" href="theme/images/favicon.png"/>

<!-- Open graph protocol -->
<meta property="og:title" content="שבט אחים" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://shevet-ahim.co.il/" />
<meta property="og:image:secure_url" itemprop="image" content="https://shevet-ahim.co.il/theme/images/og_image.jpg" />
<meta property="og:description" content="אכסניה / חאן אירוח לקבוצות ויחידים במגוון אפשרויות לינה. פעילויות יום סדנאות ואירועים לקבוצות ומשפחות בעמק יזרעאל / גליל תחתון / גליל מערבי" />

<!-- Twitter cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="https://shevet-ahim.co.il/theme/images/og_image.jpg" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62733922-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-62733922-3');
</script>
