<section class="wrapper style3 container special">

    <header class="major">
    <h2>מה תוכלו <strong>לעשות אצלינו</strong></h2>
    </header>

    <div class="row">

        {% for article in articles|selectattr('category', 'equalto', 'service') %}

            <div class="col-6 col-12-narrower">

                <section>
                    <a href="{{ article.url }}" class="image featured"><img src="{{ article.image }}" alt="" /></a>
                    <header>
                        <h3>{{ article.title }}</h3>
                    </header>
                    <p>
                        {{ article.summary }}
                    </p>
                </section>

            </div>

        {% endfor %}

    </div>

</section>
