<section class="wrapper style3 container special">

    <header class="major">
    <h2>מה תוכלו <strong>לעשות אצלינו</strong></h2>
    </header>

    <div class="row">

        {% for article in articles|selectattr('category', 'equalto', 'service') %}

            <div class="col-6 col-12-narrower">

                <section>
                    <div class="image featured">
                        <img src="{{ article.image }}" alt="{{ article.title }}"/>
                    </div>
                    <header>
                        <a href="{{ article.url }}"><h3>{{ article.title }}</h3></a>
                    </header>
                    {{ article.summary }}
                    <a href="{{ article.url }}" class="button small">קרא עוד</a>
                </section>

            </div>

        {% endfor %}

    </div>

</section>
