<section class="wrapper style1 container special">
    <div class="row">

        {% for article in articles|selectattr('category', 'equalto', 'story') %}

            <div class="col-4 col-12-narrower">

            <section>
                <a class="image featured" href="{{ article.url }}">
                    <img src="{{ article.image }}">
                </a>
                <header>
                    <a href="{{ article.url }}"><h3>{{ article.title }}</h3></a>
                </header>
                {{ article.summary }}
                <a href="{{ article.url }}" class="button small">קרא עוד</a>
            </section>

            </div>

        {% endfor %}
    </div>
</section>
